<div class="min-w-screen min-h-screen bg-gray-700 flex items-center justify-center px-5 py-5">
  <div class="w-full mx-auto rounded-2xl  shadow-2xl  relative overflow-hidden" style="max-width: 440px">
    <!-- <h1 class="text-center text-black py-10 text-3xl font-bold">Angular Calculator</h1> -->
    <!-- calculator screen   -->
    <div class="w-full h-30 bg-gray-200 text-right">

      <!-- function screen -->
      <div class="w-full py-5 px-5 text-2xl text-black font-thin">
          {{funcT}}
      </div>

      <!-- number screen -->
      <div class="w-full pb-2 px-5 text-6xl text-black text-bold">
        {{calValue}}
      </div>

    </div>
      <!-- end of calculator screen  -->

      <!-- calulator button area -->
      <div class="w-full bg-gray-200 px-5">


        <!-- first row of button -->
        <div class="flex w-full">
          <div class="w-2/4 px-1 py-2">
            <button class="w-full h-20 outline-none  text-black text-bold rounded-2xl shadow-lg text-3xl"  (click)="onClickValue('c','function')">C</button>
          </div>
          <div class="w-1/4 px-1 py-2">
            <button class="w-full h-20 outline-none  text-black text-bold rounded-2xl shadow-lg text-3xl" (click)="onClickValue('%','function')">%</button>
          </div>
          <div class="w-1/4 px-1 py-2">
            <button class="w-full h-20 outline-none text-bold rounded-2xl shadow-lg text-3xl text-orange-500" (click)="onClickValue('/','function')">/</button>
          </div>
        </div>
        <!-- end of first row -->

        <!-- second row  -->
        <div class="flex w-full">
          <div class="w-1/4 px-1 py-2">
            <button class="w-full h-20 outline-none  text-black text-bold rounded-2xl shadow-lg text-3xl" (click)="onClickValue('7','number')">7</button>
          </div>
          <div class="w-1/4 px-1 py-2">
            <button class="w-full h-20 outline-none  text-black text-bold rounded-2xl shadow-lg text-3xl" (click)="onClickValue('8','number')">8</button>
          </div>
          <div class="w-1/4 px-1 py-2">
            <button class="w-full h-20 outline-none  text-black text-bold rounded-2xl shadow-lg text-3xl" (click)="onClickValue('9','number')">9</button>
          </div>
          <div class="w-1/4 px-1 py-2">
            <button class="w-full h-20 outline-none  text-bold rounded-2xl shadow-lg text-3xl text-orange-500" (click)="onClickValue('*','function')">*</button>
          </div>
        </div>
        <!-- end of second row -->

        <!-- third row  -->
        <div class="flex w-full ">
          <div class="w-1/4 px-1 py-2 ">
            <button class="w-full h-20 outline-none  text-black text-bold rounded-2xl shadow-lg text-3xl" (click)="onClickValue('4','number')">4</button>
          </div>
          <div class="w-1/4 px-1 py-2 ">
            <button class="w-full h-20 outline-none  text-black text-bold rounded-2xl shadow-lg text-3xl" (click)="onClickValue('5','number')">5</button>
          </div>
          <div class="w-1/4 px-1 py-2 ">
            <button class="w-full h-20 outline-none  text-black text-bold rounded-2xl shadow-lg text-3xl" (click)="onClickValue('6','number')">6</button>
          </div>
          <div class="w-1/4 px-1 py-2 ">
            <button class="w-full h-20 outline-none  text-bold rounded-2xl shadow-lg text-3xl text-orange-500" (click)="onClickValue('-','function')">-</button>
          </div>
        </div>
        <!-- end of third row -->

        <!-- fourth row -->
        <div class="flex w-full ">
          <div class="w-1/4 px-1 py-2 ">
            <button class="w-full h-20 outline-none  text-black text-bold rounded-2xl shadow-lg text-3xl"(click)="onClickValue('3','number')">3</button>
          </div>
          <div class="w-1/4 px-1 py-2 ">
            <button class="w-full h-20 outline-none  text-black text-bold rounded-2xl shadow-lg text-3xl" (click)="onClickValue('2','number')">2</button>
          </div>
          <div class="w-1/4 px-1 py-2 ">
            <button class="w-full h-20 outline-none  text-black text-bold rounded-2xl shadow-lg text-3xl" (click)="onClickValue('1','number')">1</button>
          </div>
          <div class="w-1/4 px-1 py-2 ">
            <button class="w-full h-20 outline-none   text-bold rounded-2xl shadow-lg text-3xl text-orange-500" (click)="onClickValue('+','function')">+</button>
          </div>
        </div>
        <!-- end of fourth row  -->

        <!-- last row -->
        <div class="flex w-full pb-5">
          <div class="w-2/4 px-1 py-2 ">
            <button class="w-full h-20 outline-none  text-black text-bold rounded-2xl shadow-lg text-3xl" (click)="onClickValue('0','number')">0</button>
          </div>
          <div class="w-1/4 px-1 py-2 ">
            <button class="w-full h-20 outline-none  text-black text-bold rounded-2xl shadow-lg text-3xl" (click)="onClickValue('.','function')">.</button>
          </div>
          <div class="w-1/4 px-1 py-2 ">
            <button class="w-full h-20 outline-none   text-bold rounded-2xl shadow-lg text-3xl text-orange-500" (click)="onClickValue('=','function')">=</button>
          </div>
          
        </div>
        <!-- end of last row -->

      </div>

  </div>
</div>